.MaterialSelector {
  position: relative;
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.MaterialSelector .Select {
  box-sizing: border-box;
  position: relative;
}
.MaterialSelector .Select div,
.MaterialSelector .Select input,
.MaterialSelector .Select span {
  box-sizing: border-box;
}
.MaterialSelector .Select.is-disabled > .Select-control {
  background-color: #f9f9f9;
}
.MaterialSelector .Select.is-disabled > .Select-control:hover {
  box-shadow: none;
}
.MaterialSelector .Select.is-disabled .Select-arrow-zone {
  cursor: default;
  pointer-events: none;
}
.MaterialSelector .Select-control {
  border: none;
  border-spacing: 0;
  border-bottom: 0.071rem solid rgba(0,0,0,0.87);
  color: inherit;
  font-family: "Roboto", sans-serif;
  font-size: 1.143rem;
  line-height: 1.714rem;
  cursor: default;
  display: table;
  height: 2.571rem;
  position: relative;
  width: 100%;
}
.MaterialSelector .Select-control:hover {
  box-shadow: 0 0.071rem 0 rgba(0, 0, 0, 0.06);
}
.MaterialSelector .is-searchable.is-open > .Select-control {
  cursor: text;
}
.MaterialSelector .is-open > .Select-control {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: #fff;
  border-color: #b3b3b3 #ccc #d9d9d9;
}
.MaterialSelector .is-open > .Select-control > .Select-arrow {
  border-color: transparent transparent #999;
  border-width: 0 0.357rem 0.357rem;
}
.MaterialSelector .is-searchable.is-focused:not(.is-open) > .Select-control {
  cursor: text;
}
.MaterialSelector .is-focused:not(.is-open) > .Select-control {
  border-color: #3f51b5;
}
.MaterialSelector .Select--single > .Select-control .Select-value {
  bottom: 0.1rem;
  color: inherit;
  left: 0;
  padding-right: 0.714rem;
  position: absolute;
  right: 0;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.MaterialSelector .has-value.Select--single > .Select-control .Select-value .Select-value-label, .MaterialSelector .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #333;
}
.MaterialSelector .has-value.Select--single > .Select-control .Select-value a.Select-value-label, .MaterialSelector .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label {
  cursor: pointer;
  text-decoration: none;
}
.MaterialSelector .has-value.Select--single > .Select-control .Select-value a.Select-value-label:focus, .MaterialSelector .has-value.Select--single > .Select-control .Select-value a.Select-value-label:hover, .MaterialSelector has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:focus, .MaterialSelector .has-value.is-pseudo-focused.Select--single > .Select-control .Select-value a.Select-value-label:hover {
  color: #3f51b5;
  text-decoration: underline;
}
.MaterialSelector .Select-input {
  width: 100%;
  height: 2.429rem;
  padding-left: 0.357rem;
  padding-right: 0.714rem;
  vertical-align: middle;
}
.MaterialSelector .Select-input > input {
  width: 100%;
  background: none transparent;
  border: 0 none;
  box-shadow: none;
  cursor: default;
  display: inline-block;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  line-height: 1.714rem;
  height: 100%;
  outline: none;
}
.MaterialSelector .is-focused .Select-input > input {
  cursor: text;
}
.MaterialSelector .has-value.is-pseudo-focused .Select-input {
  opacity: 0;
}
.MaterialSelector .Select-loading-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1.143rem;
}
.MaterialSelector .Select-loading {
  -webkit-animation: Select-animation-spin 400ms infinite linear;
          animation: Select-animation-spin 400ms infinite linear;
  width: 1.143rem;
  height: 1.143rem;
  box-sizing: border-box;
  border-radius: 50%;
  border: 0.143rem solid #ccc;
  border-right-color: #333;
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.MaterialSelector .Select-clear-zone {
  -webkit-animation: Select-animation-fadeIn 200ms;
          animation: Select-animation-fadeIn 200ms;
  color: #999;
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1.214rem;
}
.MaterialSelector .Select-clear-zone:hover {
  color: #D0021B;
}
.MaterialSelector .Select-clear {
  display: inline-block;
  font-size: 1.286rem;
  line-height: 1;
}
.MaterialSelector .Select--multi .Select-clear-zone {
  width: 1.214rem;
}
.MaterialSelector .Select-arrow-zone {
  cursor: pointer;
  display: table-cell;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 1.786rem;
  padding-right: 0.357rem;
}
.MaterialSelector .Select-arrow {
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 0.357rem 0.357rem 0.179rem;
  display: inline-block;
  height: 0;
  width: 0;
}
.MaterialSelector .Select-arrow-zone:hover > .Select-arrow,
.MaterialSelector .is-open .Select-arrow {
  border-top-color: #666;
}
.MaterialSelector .Select--multi .Select-multi-value-wrapper {
  display: inline-block;
}
.MaterialSelector .Select .Select-aria-only {
  display: inline-block;
  height: 0.071rem;
  width: 0.071rem;
  margin: -0.071rem;
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}
@-webkit-keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes Select-animation-fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.MaterialSelector .Select-menu-outer {
  -webkit-transition: height 0.5s ease-in;
  transition: height 0.5s ease-in;
}
.MaterialSelector .Select-menu-outer:empty {
  height: 0;
}
.MaterialSelector .Select-menu-outer:not(:empty) {
  box-shadow: 0 0.143rem 0.357rem 0 rgba(0, 0, 0, 0.16), 0 0.143rem 0.714rem 0 rgba(0, 0, 0, 0.12);
  /* 2/14, 5/14, 2/14, 10/14 */
  background-color: #fff;
  border-top-color: #e6e6e6;
  box-sizing: border-box;
  margin-top: -0.071rem;
  max-height: 14.286rem;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 300;
}
.MaterialSelector .Select-menu {
  max-height: 14.143rem;
  overflow-y: auto;
}
.MaterialSelector .Select-option {
  box-sizing: border-box;
  background-color: #fff;
  color: #666666;
  cursor: pointer;
  display: block;
  padding: 0.571rem 0.714rem;
}
.MaterialSelector .Select-option:last-child {
  border-bottom-right-radius: 0.286rem;
  border-bottom-left-radius: 0.286rem;
}
.MaterialSelector .Select-option.is-selected {
  background-color: rgba(0, 0, 0, 0.098);
}
.MaterialSelector .Select-option.is-focused {
  background-color: rgba(0, 0, 0, 0.098);
}
.MaterialSelector .Select-option.is-disabled {
  color: rgba(0, 0, 0, 0.3);
  cursor: default;
}
.MaterialSelector .Select-noresults {
  box-sizing: border-box;
  color: #999999;
  cursor: default;
  display: block;
  padding: 0.571rem 0.714rem;
}
.MaterialSelector .Select--multi .Select-input {
  vertical-align: middle;
  margin-left: 0.714rem;
  padding: 0;
}
.MaterialSelector .Select--multi.has-value .Select-input {
  margin-left: 0.357rem;
}
.MaterialSelector .Select--multi .Select-value {
  background-color: rgba(0, 0, 0, 0.098);
  border: 0.071rem solid rgba(0, 0, 0, 0.098);
}
.MaterialSelector .Select--multi .Select-value-icon {
  display: inline-block;
  vertical-align: middle;
}
.MaterialSelector .Select--multi .Select-value-label {
  display: inline-block;
  vertical-align: middle;
  border-bottom-right-radius: 0.143rem;
  border-top-right-radius: 0.143rem;
  cursor: default;
  padding: 0.143rem 0.357rem;
}
.MaterialSelector .Select--multi a.Select-value-label {
  color: #3f51b5;
  cursor: pointer;
  text-decoration: none;
}
.MaterialSelector .Select--multi a.Select-value-label:hover {
  text-decoration: underline;
}
.MaterialSelector .Select--multi .Select-value-icon {
  cursor: pointer;
  border-bottom-left-radius: 0.143rem;
  border-top-left-radius: 0.143rem;
  border-right: 0.071rem solid rgba(0, 0, 0, 0.098);
  padding: 0.071rem 0.357rem 0.214rem;
}
.MaterialSelector .Select--multi .Select-value-icon:focus, .MaterialSelector .Select--multi .Select-value-icon:hover {
  background-color: rgba(0, 0, 0, 0.098);
}
.MaterialSelector .Select--multi .Select-value-icon:active {
  background-color: rgba(0, 0, 0, 0.098);
}
.MaterialSelector .Select--multi.is-disabled .Select-value {
  background-color: #fcfcfc;
  border: 0.071rem solid rgba(0, 0, 0, 0.3);
  color: #333;
}
.MaterialSelector .Select--multi.is-disabled .Select-value-icon {
  cursor: not-allowed;
  border-right: 0.071rem solid rgba(0, 0, 0, 0.3);
}
.MaterialSelector .Select--multi.is-disabled .Select-value-icon:active, .MaterialSelector .Select--multi.is-disabled .Select-value-icon:focus, .MaterialSelector .Select--multi.is-disabled .Select-value-icon:hover {
  background-color: #fcfcfc;
}
@keyframes Select-animation-spin {
  to {
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes Select-animation-spin {}
.MaterialSelector .bar {
  top: 0.071rem;
  /* 1/14 */
  position: relative;
  display: block;
  width: 100%;
}
.MaterialSelector .bar::after, .MaterialSelector .bar::before {
  content: '';
  height: 0.143rem;
  width: 0;
  bottom: 0.071rem;
  position: absolute;
  background: #3f51b5;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.MaterialSelector .bar::before {
  left: 50%;
}
.MaterialSelector .bar::after {
  right: 50%;
}
.MaterialSelector .bar.errorState::after, .MaterialSelector .bar.errorState::before {
  background: #f44336;
  width: 50%;
}
.MaterialSelector .Select.is-focused + .bar:after,
.MaterialSelector .Select.is-focused + .bar:before {
  width: 50%;
}
.MaterialSelector label {
  color: rgba(0,0,0,0.87);
  font-size: 1.286rem;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  top: 0.714rem;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.MaterialSelector .Select.has-value ~ label,
.MaterialSelector .Select.is-focused ~ label {
  top: -1.429rem;
  font-size: 14px;
}
.MaterialSelector .Select.is-focused ~ label {
  color: #3f51b5;
}
.MaterialSelector .Select.is-focused ~ label.errorState {
  color: #f44336 !important;
}
.MaterialSelector .errorText {
  position: relative;
  bottom: -.5rem;
  font-size: 0.857rem;
  /* 12/14 */
  line-height: 0.857rem;
  /* 12/14 */
  color: #f44336;
  -webkit-transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0;
  transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0;
}